<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {$viteAssets->printTags()}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <title>{ifset title}{include #title} | {/ifset}SILON Reporting</title>
    {snippet header_tmplSnippet}
        {include #header_tmpl}
    {/snippet}
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-primary">
          <div class="navbar-brand text-white">
            <a n:href=":Reporting:Dashboard:default" class="text-decoration-none">
                <img src="{$basePath}/assets/images/logo-white.png" alt="Logo" height="30px" class="d-inline-block align-text-top mx-3">
            </a>
            {include #pageHeading}
          </div>
          <ul class="nav nav-pills me-0 ms-auto d-flex">
              {control frontMenu}
              {* user *}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-person-circle"></i>&nbsp;
                      {if $presenter->getUser()->isLoggedIn()}
                          {if $userIdentityData}
                            {$userIdentityData['name']}&nbsp;{$userIdentityData['surname']}
                          {else}
                            {_"---"}
                          {/if}
                      {else}
                          {_"not logged in"}
                      {/if}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                      {if $presenter->getUser()->isLoggedIn()}
                          <li><a class="dropdown-item" n:href=":Auth:logout">{_"Sign out"}</a></li>
                      {else}
                          <div class="p-2" style="width: 250px;">
                              <form n:name="loginForm">
                                  <!-- Email input -->
                                  <div class="form-outline mb-3">
                                      <label n:name="username" class="form-label">Username</label>
                                      <input n:name="username" class="form-control" />
                                  </div>

                                  <!-- Password input -->
                                  <div class="form-outline mb-3">
                                      <label n:name="password" class="form-label">Password</label>
                                      <input n:name="password" class="form-control" />
                                  </div>

                                  <!-- Submit button -->
                                  <div class="d-grid gap-2">
                                      <button n:name="send" class="btn btn-primary">Sign in</button>
                                  </div>
                              </form>
                          </div>
                      {/if}
                  </ul>
              </li>
              {* lang *}
              <li n:if="count($translator->getAvailableLocales()) > 1" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-globe"></i> {$translator->getLocale()|upper}
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" n:inner-foreach="$translator->getAvailableLocales() as $locale">
                      <li n:class="dropdown-item,$translator->getLocale() === $locale ? text-weight-bold">
                          <a class="dropdown-item" n:href="changeLocale!, 'locale' => $locale, 'backlink' => $presenter->name . ':' . $presenter->view">
                              {$locale|upper}
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
  </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
            {*<div class="col col-md-2 col-xl-2 bg-dark" style="background-color: #024296 !important">

            </div>
            <div class="col col-md-10 col-xl-10">*}
                {foreach $flashes as $flash}
                    <div class="mt-2 alert alert-{$flash->type}">{$flash->message}</div>
                {/foreach}
                {include header}
                {include content}
            </div>
        </div>
    </div>
    {block footer}{/block}
  </body>
</html>