<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{$basePath}/favicon.ico" />

    <title>{ifset title}{include title|stripHtml} | {/ifset}SILON</title>

    {ifset header}{include header}{/ifset}

    {$viteAssets->printTags()}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>

<body>
    {if $user->isLoggedIn()}
        {control frontMenu}
    {/if}
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    {include content}
</body>
<footer>
    <div class="footer">
        &copy; {="now"|date:'Y'} SILON
    </div>
</footer>
{ifset footer}{include footer}{/ifset}
</html>
