// Bootstrap rewrites
$primary: #a20f3b;
$secondary: #005854;
$light: #efefea;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";



/* datagrid fix */
.bi-cog::before {
  content: "\F3E5";
}

body {
  font-size: 14px;
  --bs-body-font-size: 14px;
}

/* Dashboard */

.item-menu {
  position: absolute;
  right: 1.25rem;
  top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    cursor: pointer;
    background-color: var(--bs-light);
    border-radius: var(--bs-border-radius);
  }
}

/* Report container styles */

#report-container {
  background: url('./../../images/loader.svg') no-repeat center center;
  background-size: 250px;
  margin-top: 1rem;
  height: calc(100vh - 140px);
  width: calc(calc(100vh - 140px) / 9 * 15);
}

#report-container.with-sidebar {
  height: calc(100vh - 83px);
  width: calc(calc(100vh - 83px) / 9 * 15);
}

#report-container iframe {
  border: 0;
}

/* Report left menu */

#toggleAdminMenu {
  border-top: 1px solid rgba(var(--bs-body-color-rgb), var(--bs-text-opacity));

  &[aria-expanded="true"] {
    .bi-chevron-down {
      display: none;
    }
  }

  &[aria-expanded="false"] {
    .bi-chevron-up {
      display: none;
    }
  }
}

#left-report-nav {
  .nav-item {
    .item-menu {
      right: 0.50rem;
      top: 0.35rem;
      color: var(--bs-light-text-emphasis);

      &:hover {
        background-color: var(--bs-light-bg-subtle);
      }
    }

    &:has(.nav-link.active) {
      .item-menu {
        color: var(--bs-white);

        &:hover {
          background-color: var(--bs-primary-bg-subtle);
          color: var(--bs-primary);
        }
      }
    }
  }

  .nav-link {
    color: #000;
    font-weight: bold;
    background-color: var(--bs-light);

    &.active,
    &:has(+ ul .nav-link.active) {
      background-color: var(--bs-primary);
      color: var(--bs-white);
    }
  }

  /* Report left submenu */
  ul {
    border-color: var(--bs-gray-200);
    border-width: 0 1px 1px 1px;
    border-style: solid;

    .nav-link {
      background-color: transparent;
      font-size: 0.75rem;

      &.active {
        background-color: transparent;
        color: var(--bs-primary);
      }
    }
  }
}





