parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	auto_start: true
	savePath: %appDir%/../session

mail:
    smtp: true
    host: 172.20.8.58

di:
	export:
		parameters: no
		tags: no

translation:
	locales:
		whitelist: [en, cz]
		default: cz
		fallback: [en]
	dirs:
		- %appDir%/../config/lang
	returnOriginalMessage: true # to not translate undefined messages, default is true
	localeResolvers:
		- Contributte\Translation\LocalesResolvers\Session

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	menu: Contributte\MenuControl\DI\MenuExtension
