menu:
    admin:
        authorizator: @App\Model\MenuAuthorizator
        templates:
            menu: %appDir%/Presenters/templates/controls/AdminMenu.latte
            breadcrumbs: %appDir%/Presenters/templates/controls/AdminMenu-breadcrumbs.latte
        items:
            Dashboard:
                action: Admin:Dashboard:default
                data:
                    roles:
                        - admin
                    icon: house
            Azure stats:
                action: Admin:Dashboard:azureStats
                data:
                    roles:
                        - admin
                    icon: cloud
            Reporting:
                action: Admin:Reporting:default
                data:
                    roles:
                        - admin
                    icon: clipboard-data
                items:
                    Permissions:
                        action: Admin:Reporting:permissions
                        include: '^Admin\:Reporting\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: shield-lock
                    Access log:
                        action: Admin:Reporting:accessLog
                        include: '^Admin\:Reporting\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: database-lock
                    Icons:
                        action: Admin:Reporting:icons
                        include: '^Admin\:Reporting\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: card-image
            Settings:
                action: Admin:Settings:default
                data:
                    roles:
                        - admin
                    icon: gear
                items:
                    Users:
                        action: Admin:Users:default
                        include: '^Admin\:Users\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: person
                        items:
                            Editace:
                                action: Admin:Users:edit
                                include: '^Admin\:Users\:edit'
                                visibility:
                                    menu: false
                    Groups:
                        action: Admin:Groups:default
                        include: '^Admin\:Groups\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: people
                        items:
                            Editace:
                                action: Admin:Groups:edit
                                include: '^Admin\:Groups\:edit'
                                visibility:
                                    menu: false
                    Roles:
                        action: Admin:Roles:default
                        include: '^Admin\:Roles\:[a-zA-Z\:]+$'
                        data:
                            roles:
                                - admin
                            icon: key
                        items:
                            Editace:
                                action: Admin:Roles:edit
                                include: '^Admin\:Roles\:edit'
                                visibility:
                                    menu: false
    front:
        authorizator: @App\Model\MenuAuthorizator
        templates:
            menu: %appDir%/Presenters/templates/controls/FrontMenu.latte
        items:
            Entry point:
                action: Reporting:Dashboard:default
                data:
                    icon: house
            #Favorites:
            #    action: Reporting:Dashboard:default
            #    data:
            #        icon: star
            Administration:
                action: Admin:Dashboard:default
                data:
                    roles:
                        - admin
                    icon: gear
    adminTop:
            authorizator: @App\Model\MenuAuthorizator
            templates:
                menu: %appDir%/Presenters/templates/controls/AdminTopMenu.latte
            items:
                Entry point:
                    action: Reporting:Dashboard:default
                    data:
                        icon: house
