services:
	cache: Nette\Caching\Cache()
	- App\Router\RouterFactory::createRouter
	- App\Models\EmailService(%globals.email%)

	ldapConnection:
	    create: LdapRecord\Connection(%ldap%)
	    setup:
	        - LdapRecord\Container::addConnection(@ldapConnection)

	- App\Model\Authenticator(@database.default.explorer, @ldapConnection, @cache, %authenticator%)
	- App\Model\MenuAuthorizator
	- App\Models\Service\ViteAssets(http://localhost:3008, %wwwDir%/assets/dist/manifest.json, %vite.production%, '/bi/assets/dist/')


	- App\AdminModule\Models\Service\AdminService(@database.default.connection)
	- App\AdminModule\Models\Service\UsersService(@database.default.explorer)
	- App\AdminModule\Models\Service\RolesService(@database.default.explorer)
	- App\AdminModule\Models\Service\GroupsService(@database.default.explorer)
	- App\AdminModule\Models\Service\ReportingService(@database.default.explorer)
	- App\AdminModule\Models\Service\IconsService(@database.default.explorer)

	- App\Models\Service\AzureService(%azure%, @cache)

	- App\ReportingModule\Models\Service\DashboardService(@database.default.explorer, @cache)
	- App\ReportingModule\Models\Service\ReportService(@database.default.explorer, @cache)
	- App\ReportingModule\Models\Service\AccessLogService(@database.default.explorer)
