no_item_found_reset: No items found
no_item_found: No items found.
here: here
items: Items
all: all
from: from
reset_filter: Reset filter
group_actions: Group action
show_all_columns: Show all columns
hide_column: Hide column
action: Action
previous: Previous
next: Next
choose: Choose
execute: Execute
show_filter: Show filter
