<a href="{plink $link}" class="card card-link {$class}">
    <div class="row g-0">
        <div class="col-4 card-icon pt-2 text-secondary">
            <i class="bi bi-{$icon}"></i>
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{$name}</h5>
                <p class="card-text">{$description}</p>
            </div>
        </div>
        {if $presenter->userIsAdmin()}
            <a n:class="'dropdown-toggle'"
                    data-bs-toggle = "dropdown">
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item ajax" n:href="showTabsForm!,editTabId=>$tab->id">Edit</a></li>
                <li><a class="dropdown-item ajax" data-confirm="Do you really want to delete this tab?" n:href="deleteTab!,editTabId=>$tab->id">Delete</a></li>
                <li n:if="count($tabs)>1"><hr class="dropdown-divider"></li>
                <li n:if="!$iterator->isFirst()">
                    <a class="dropdown-item ajax" n:href="changeTabPosition!,editTabId=>$tab->id,direction=>'decrease'" data-naja-history="off">
                        Move left
                    </a>
                </li>
                <li n:if="!$iterator->isLast()">
                    <a class="dropdown-item ajax" n:href="changeTabPosition!,editTabId=>$tab->id,direction=>'increase'" data-naja-history="off">
                        Move right
                    </a>
                </li>
            </ul>
        {/if}
    </div>
</a>