<a href="{plink $link}" class="card card-link">
    <div class="row g-0">
        <div class="col-4 card-icon pt-2 text-secondary">
            <i class="bi bi-{$icon}"></i>
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{$name}</h5>
                <p class="card-text">{$description}</p>
            </div>
        </div>
    </div>
</a>